



 body {
  background-color: #276375;
}
h1 {
  
  font-family: 'Lato', sans-serif;
  font-size: 3em;
  background-color: peachpuff;
  display: flex;
  text-align: center;
  justify-content: center;
  margin: 0.75em;
  border-radius: 20px;
  color: blue;


}

table {
  background-color: #f07167;
}

table, th, td {
  border: 4px;
  border-style: solid;
  border-color: black;
  border-radius: 3px;

  text-align: center;
  width: 100%;
  font-size: 1em;
  position: relative;
}

table thead th {
  background-color: #693504;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  vertical-align:middle;
  word-wrap: break-word;

}

table thead th:nth-child(even):not(:first-child) {
  background-color: #caf0f8;
}


table tbody tr td {
  font-size: 1.2em;
  font-family: 'Lato', sans-serif;
}

table tbody tr td:not(:first-child){
  background-color: #FED9B7;
}
table tbody tr td:nth-child(even){
  background-color: #276375;
}

table tbody tr th{
  background-color: #276375;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 1.5em;
}
table tfoot tr td{
  background-color: #FED9B7;
  font-size: 1.2em;
  font-family: 'Lato', sans-serif;
  vertical-align:middle;
  font-weight: bolder;
}
table tfoot tr td:nth-child(even){
  background-color: #276375
}
table tfoot tr th{
  background-color: #276375;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 1.5em;
}


main {


  background-color: #276375;
}